body {
    margin: 0;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
h1 {
    color: #43b89c;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 100;
}
h2 {
    color: #1e836c;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: 100;
}
h3 {
    color: #43b89c;
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}
.top-container {
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
}
.land {
    margin-bottom: -4px;
}

.bottom-cloud {
    position: absolute;
    left: 220px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 180px;
    top: 100px;
}
.avator {
    width: 15%;
}
.subtitle {
    margin-top: 0px;
    margin-bottom: 80px;
}

.middle-container {
    padding:100px 0 100px 0;
}

p {
    font-size: 1.3rem;
    color: #6b6b6b;
    line-height: 2;
    word-spacing: 2px;
}
.intro {
    width: 35%;
    margin: auto;
}
hr {
    border: 6px dotted #eaf6f6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.skill-row {
    width: 60%;
    margin: 100px auto;
    text-align: left;
}
.design-image {
    width: 30%;
    float: left;
    margin-right: 100px;
}
.develop-image {
    width: 30%;
    float: right;
    margin-left: 100px;
}
.contact-message {
    width: 45%;
    margin: 50px auto;
}



.btn {
	
	background-color:#43b89c;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-size:16px;
	padding:14px 32px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container {
    background-color: #c5ded7;
    padding: 50px 0 20px;
}
a {
    text-decoration: none;
    color: #43b89c;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px 10px;
}
.copyright {
    font-size: 0.9rem;
    font-weight: 100;
    color: #1e836c;
}